@import "./../theme/theme";

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

.layout-default {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & .container {
        padding: 20px;
        min-width: 1000px;
    }
}
