.app-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-gray-500);
    &.size {
        &-sm {
            border-radius: 3px;
            font-size: 0.75rem;
            min-width: 45px;
            padding: 2px 8px;
            &.square {
                width: 20px !important;
                height: 20px !important;
            }
        }
        &-md {
            border-radius: 5px;
            font-size: 0.875rem;
            min-width: 80px;
            padding: 6px 10px;
            &.square {
                width: 30px !important;
                height: 30px !important;
                padding: 6px !important;
                min-width: 20px !important;
            }
        }
        &-lg {
            border-radius: 8px;
            font-size: 1rem;
            min-width: 100px;
            padding: 8px 12px;
        }
    }
    &.variant {
        &-outlined {
            background: transparent;
            color: var(--btn-primary-color);
            border: 1px solid var(--btn-primary-color);
        }
        &-plain {
            border: none;
            background: transparent;
            color: var(--btn-primary-color);
        }
        &-flat {
            background: transparent;
            color: var(--theme-gray-300);
            border: 1px solid transparent;
            &:hover {
                color: var(--theme-gray-400);
                border: 1px solid var(--btn-primary-color);
            }
        }
        &-default {
            border: none;
            color: white;
            background: var(--btn-primary-color);
        }
    }

    &:hover {
        cursor: pointer;
    }
}
