.home {
    &-heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    &-body {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        &-sidebar {
            width: 15%;
        }
        &-content {
            width: 70%;
            &-inner {
                height: 80vh;
                overflow-y: auto;
                border-right: 1px solid var(--theme-gray-200);
            }
            &-paragraph {
                padding-right: 10px;
                position: relative;
                &::before {
                    content: "";
                    width: 4px;
                    height: 4px;
                    position: absolute;
                    border-radius: 2px;
                    background-color: var(--theme-gray-300);
                    top: 6px;
                    right: 0px;
                }
            }
        }
    }
}

// * media queries (tablet)
@media screen and (max-width: 920px) {
    .home {
        &-body {
            &-sidebar {
                width: 20%;
            }
            &-content {
                width: 75%;
                &-inner {
                    height: 70vh;
                }
            }
        }
    }
}
// * media queries (mobile)
@media screen and (max-width: 620px) {
    .home {
        &-body {
            flex-direction: column;
            &-sidebar {
                width: 100%;
            }
            &-content {
                width: 100%;
                margin-top: 16px;
                &-inner {
                    height: 50vh;
                    border-right: none;
                    padding-right: 0px !important;
                    padding-top: 16px !important;
                    border-top: 1px solid var(--theme-gray-200);
                }
            }
        }
    }
}

.vertical-separator {
    width: 1px;
    height: 16px;
}
