.home {
    &-heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    &-body {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        &-sidebar {
            width: 15%;
        }
        &-content {
            width: 70%;
            &-inner {
                height: 500px;
                border-right: 1px solid #dcdce3;
            }
            &-paragraph {
                padding-right: 10px;
                position: relative;
                &::before {
                    content: "";
                    width: 4px;
                    height: 4px;
                    position: absolute;
                    border-radius: 2px;
                    background-color: var(--theme-gray-300);
                    top: 6px;
                    right: 0px;
                }
            }
        }
    }
}

.vertical-separator {
    width: 1px;
    height: 16px;
}
